/* 改变主题色变量 */
$--color-primary: #409eff;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

.el-table .cell {
  padding-right: 0px;
  font-size: 12px;
}
.el-table td,
.el-table th {
  padding: 5px !important;
}
.el-table td .cell {
  padding-right: 0px !important;
}
.el-link--inner,
.el-form-item__label,
.el-input,
.el-textarea,
.el-radio,
.el-form,
.el-step__title {
  font-size: 12px !important;
}

@import '~element-ui/packages/theme-chalk/src/index';

.el-form-item__label {
  font-weight: bold;
  padding-bottom: 0px !important;
}
.el-input input {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.el-table th > .cell {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.el-table td > .cell {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.el-radio {
  margin-right: 15px !important;
}

.el-table th span.required:after {
  color: #f56c6c;
  content: '*';
  margin-left: 4px;
}
